main{
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center;
}
.aboutInfo{
    display:flex;
    align-items:center;
    flex-direction:column;
    width: 50%;
}
.foto{
    width:300px;
}
.aboutText{
    color:white;
}
.aboutText::first-letter{
    font-size:1.5rem;
}